@charset "utf-8";
/* CSS Document */

body{
	padding:0px;
	margin:0px;
	background:#e9e9e9;
	font-size: 12px;
	font-family:Tahoma, Verdana, Geneva;
	
	
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.main_container{
	width:100%;
	margin:auto;
}

.container{
	max-width: 970px;
    min-width: 970px;
    width: 970px;
	margin: 0px auto auto;
}
.layout-header {
    background: url("img/bgContentT.jpg");
	background-repeat:repeat-y;
    height: 14px;
    position: static;
    width: 100%;
}

.layout-footer {
    background: url("img/bgContentB.jpg");
	background-repeat:repeat-y;
    clear: both;
    height: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.layout-content {
   background: url("http://media.community.dell.com/Images/bgContent.jpg");
   background-repeat:repeat-y;
    float: left;
    padding: 0 19px 0 22px;
    width: 100%;
}

.banner{
	background:url(img/banner.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:201px;
}

.row{
	width:100%;
}

.col{
	border: 1px solid #CCCCCC;
    float: left;
    margin-top: 8px;
    padding-top: 0;
    width: 450px;
	padding: 7px 5px 6px;
}

.col-1{
	margin-right:0px;
	float:right;
}

.col-2{
	width:100%;
}

.col-2 table{
	width:41% !important;
	float:left;
}

.col-2 table td{
}

.about p{
	color: #000000 !important;
    display: block;
    float: left;
    margin: 5px 0;
    width: 100%;
}

.about ul{
	float:left;
	width:100%;
}

.about ul li, .about ul ul{
	float:left;
	width:100%;
}

.about ul ul{float:left;
}

.about h4{
	font-size:14px;
	color:#0089C8;
	float:left;
	margin:0px;
}
.col-2 label{
	float:right;
}

.row h2{
	background-position: 0 1px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #DDDDDD;
    color: #5B666A;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 4px;
    padding: 0 0 5px;
}

label {
    color: #666666;
    float: left;
	font-size:12px;
    font-weight: bold;
    position: relative;
    z-index: 0;
	font-family:"Tahoma";
}

label b{
	font-size:10px;
	color:#EB340A;
	padding-left:2px;
}

.row table{
	width:100%;
	font-size:13px;
}

select, input{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6B6B6;
	width:201px;
	padding:1px;
	font-size:12px;
	color:#666;
	height:24px;
}

.row span{
	color:#EB340A;
}

textarea{
    width: 201px;
	height:27px;
}

input[type="radio"] {
	float: left;
    margin: 4px;
    padding: 0;
    width: auto;
	margin:0px;
}

.submit{
    background: none repeat scroll 0 0 #0089C8;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 5px;
    padding: 2px 10px;
    text-decoration: none;
}

.rad input[type="radio"]{
	margin-left: 8px;
    margin-right: 4px;
	margin-top:-4px;
    text-align: center;
}

.rad label{
	float:left;
	font-weight:normal;
}

.but a{
	float:right;
	background:#0089c8;
	border-radius:5px;
	padding:5px;
	color:#FFF;
	font-weight:600;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:13px;
	
}

.menu a{
	float:left;
	background:#0089c8;
	border-radius:5px;
	padding:5px;
	color:#FFF;
	font-weight:600;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:13px;
	margin-right:5px;


}

.logout a{
	float:right;
	background:#0089c8;
	border-radius:5px;
	padding:5px;
	color:#FFF;
	font-weight:600;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:13px;
	margin-right:5px;

}
.userwelcom p{
float:right;
border-radius:5px;
	padding:5px;
	color:#FFF;
	font-weight:800;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:13px;
	margin-right:5px;

}
.upload {
	margin-top:10px;
   
}

.std{
	
    width: 44px;
}

.num{
	width: 146px;
}

.footer{
	background: url("img/foot_ban.jpg") repeat-y;
    color: #FFFFFF;
    float: right;
    padding: 25px 25px 10px;
    width: 100%;
}

.footer_link{
	width:100%;
	border-bottom:1px solid #fff;
	padding-top:27px;
	padding-bottom:10px;
}

.footer_link ul{
	margin:0px;
	padding:0px;
	text-align:center;
}

.footer_link ul li{
	border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline;
    padding-left: 11px;
    padding-right: 11px;
	
}

.last{
	border:none !important;
}



.footer-bottom p{
	line-height:14px;
}


.col-2{
	margin-left:0px !important;
}

.my_dropdown{
	width:200px;
}

.foot{
	width:100%;
	float:left;
}

.foot_left{
	float: left;
    text-align: center;
    width: 35%;
	line-height: 16px;
	padding-top:8px;
}

.foot_right{
	border-left: 1px solid #EEEEEE;
    float: left;
    margin-left: 16px;
    margin-top: 8px;
    padding-left: 11px;
    text-align: justify;
    width: 422px;
	margin-bottom:10px;
	line-height:20px;
}

.foot_right a{
	color: #FFFFFF;
    padding: 0 9px;
    text-decoration: none;
}

option{
}

.con h1{
	width:100%;
	float:left;
	font-size:16px;
	font-weight:600;
	border-bottom:1px solid #eee;
}

.con ul{
	margin:0px;
	padding-left:16px;
	margin-bottom:10px;
}


.con ul li{
	line-height:20px;
}

.error{
	width:100%;
	padding:10px;
	margin-top:10px;
	background:#e30000;
	color:#FFF;
	border-radius:5px;
}

.parnerr-comission{
	float:right;
	color:#0089C8;
	padding-bottom:4px;
}

.butt{
float: right;
background: #0089C8;
border-radius: 5px;
padding: 0px;
color: white;
font-weight: 600;
text-decoration: none;
padding-left: 0px;
width: 100px;
padding-right: 0px;
}



.success{

	width:100%;
	padding:10px;
	margin-top:10px;
	background:#00CC33;
	color:#FFF;
	border-radius:5px;


}

table.gridtable-one {
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #777777;
	border-collapse: collapse;
	margin:auto;
	float:left;
}
table.gridtable-one th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #b4b4b4;
	background-color: #0089c8;
	text-align:left;
	color:#fff;
	
}
table.gridtable-one td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #b4b4b4;
}

table.gridtable-one td a{
	font-weight:600;
	text-decoration:none;
	color:#0089c8;
}

table.gridtable-one td a:hover{
	text-decoration:underline;
}



table.gridtable {
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #777777;
	border-collapse: collapse;
	margin:auto;
	float:left;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #b4b4b4;
	background-color: #0089c8;
	text-align:left;
	color:#fff;
	
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #b4b4b4;
	background-color: #ffffff;
	
}

table.gridtable td a{
	font-weight:600;
	text-decoration:none;
	color:#0089c8;
}

table.gridtable td a:hover{
	text-decoration:underline;
}

table.gridtable1 {

	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #777777;
	border-collapse: collapse;
	margin:auto;
	float:left;
	width: 453px;
}
table.gridtable1 th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #b4b4b4;
	background-color: #0089c8;
	text-align:left;
	color:#fff;
	 
}
table.gridtable1 td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #b4b4b4;
	background-color: #ffffff;
	
}

table.gridtable1 td a{
	font-weight:600;
	text-decoration:none;
	color:#0089c8;
}

table.gridtable td1 a:hover{
	text-decoration:underline;
}


.log{
	margin: 15px auto;
    padding: 10px;
    width: 344px;
	border: 1px solid #CCCCCC;
}

.log table tr td{
    padding: 3px;
    width: 83px;
}

.log .submit{
	width:52px;
}

.view_order{
	width:100%;
	margin:auto;
	padding:10px;
	border: 1px solid #CCCCCC;
	float:left;
	margin-bottom:20px;
	
	
}

.view_order table{
	float:left;
}

.but{
	float:left;
	width:100%;
	text-align:center;
	margin-top:2px;
	margin-bottom:2px;
}

.view_order1 {
width: 100%;
margin: auto;
padding: 10px;
border: 1px solid #CCC;
float: left;
margin-bottom: 20px;
}

.view_order table.gridtable th{
	width:157px;
}
.view_order table.gridtable1 th{
	width:157px;
}

.ab{
	 background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #EEEEEE;
    float: left;
    margin-top: 4px;
    padding: 0 7px;
    width: 100%;
}

.ab input{
	width:auto;
	float:left;
}
.ab p{
	float: left;
    margin: 0;
    padding-left: 7px;
    padding-top: 7px;
}

.cal{
	width:100%;
	float:left;
	margin-bottom:10px;
	text-align:right;
}

.go{
	 border: medium none;
    padding-top: 0;
    position: relative;
    top: 7px;
    width: auto;
}

h3{
	font-size:16px;
	color:#0089c8;
	text-align:center;
	font-weight:600;
}

.page{
	width:50%;
	float:left;
}

.page a{
	background:none;
	color:#0089c8;
	text-decoration:none;
	text-align:left;
	float:left;
}

h5{
	 background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    font-size: 12px;
    left: 0;
    margin: auto;
    position: relative;
	 color: #5B666A;
    text-align: center;
    top: -14px;
    width: 201px;
}

.disp{
width:163px;
}

.disp1{
width:181px;
}

.row p{
	font-size:13px;
	color:#0089C8;
}

.powered{
	 float: right;
    width: 159px;
	margin-bottom:4px;
}

.title{
	float: left;
    line-height: 18px;
    padding-bottom: 4px;
    padding-top: 6px;
    width: 73px;
}

.confirmation{
	width:100%;
	float:left;
	background:#0089C8;
	color:#fff;
	padding-left:10px;
	padding-top:6px;
	padding-bottom:6px;
	font-weight:600;
	border-radius:3px;
	margin-top:4px;
}

.today{
	background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 8px;
    float: left;
    margin-bottom: 11px;
    margin-top: 1px;
    padding: 7px 1px 7px 17px;
    width: 100%;  
}

.today h1{
	float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-right: 12px;
    width: auto;
}

.downl{
	width:16%;
	float:left;
	margin-bottom:20px;
	margin-top:20px;
}

.downl a{
	background: none repeat scroll 0 0 #0089C8;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 5px;
    padding: 9px 22px;
    text-decoration: none;
}

.today a{
	text-decoration:none;
	color:#0089C8;
	padding-left:10px;
	padding-right:10px;
}

.today a:hover{
	text-decoration:underline;
}

.las{
	padding-left:34px !important;
}

.tab-nav{
	float: left;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 50%;
}
.tab-nav a{
	background: none repeat scroll 0 0 #eee;
    border-radius: 6px 6px 0 0;
    color: #333;
    padding: 8px 25px;
    text-decoration: none;
}

.tab-nav a.active{
	 background: none repeat scroll 0 0 #0089C8;
	 color:#fff;
}

.sort-block{
	width:100%;
	padding:10px;
	padding-left:0px;
	float:left;
}

.sort-by{
	width:50%;
	text-align:left;
	float:left;
}

.total_commission{
	font-weight:600;
	text-align:right;
	padding-top:10px;
	padding-bottom:10px;
}

.sort-by select{
	float:right;
}



