body {
	background: #E9E9E9;
	font-size:13px;
}
h1,h2,h3{
	padding:15px 0px 20px 0px;
}
.red-color {
	color:red;
}

.wrap{
	width:950px;
	margin:0px auto 0px auto;
	padding:10px;
}

/*Global button styles*/

.blue-button {
    background: none repeat scroll 0 0 #0089C8;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 2px 10px;
  text-decoration: none;
  width: 201px;
  font-size: 12px;
}

.blue-button:hover {
    cursor: pointer;
    background: #2D89E5;
}

.blue-button a:visited,
.blue-button a:link {
    color: white;
    text-decoration: none;
}
/*Firfox border fix*/
.ng-pristine .ng-invalid-required {
    box-shadow: none;
}
#container{
	background: white;
	border-radius:5px;
}
md-content{
	max-width: 970px;
  min-width: 970px;
  width: 970px;
  margin: 0px auto auto;
	border:thin solid #e3e3e3;;
	padding:20px 20px 0px 20px;
	box-shadow: -1px 1px 5px 1px #848484;
	border-radius: 10px;
	 
}
section {
	margin:-30px 0px 10px 0px;
}
header {
	/*border:thin solid #e3e3e3;*/
	background:url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-size:100%;
	height:200px;
	margin-top: -8px;
}
.dateholder{
	position: relative;
}
.dateholder i {
	position: absolute;
	top:14px;
	right:-33px;
}
.formBlocks {
	position: relative;
	padding:28px 10px 10px 10px;
	margin:7px 0px 5px 0px;
	border : thin solid #e3e3e3;
	  margin-top: 39px;
}
.formBlocks:nth-of-type(3){
border: 1px solid #CCCCCC;
  float: left;
  margin-top: 12px;
  padding-top: 0;
  width: 450px;
  padding: 7px 5px 6px;
}
.formBlocks:nth-of-type(2){
	padding-top:60px;
	margin-right:0px;
	margin-left:30px;
}
.formBlocks:nth-of-type(3) {
	padding:10px 30px 10px 30px;
}
.formBlocks:nth-of-type(1) h3{
	width:200px;
	position: absolute;
	top:-27px;
	left:26%;
	text-align: center;
	  font-size: 12px;
  font-weight: bold;
  color: #5B666A;
	background: white;
	padding:0px;
	/*z-index: 99;*/
	/*border:thin dotted #e3e3e3;*/
}
.formBlocks:nth-of-type(2) h3{
	  width: 200px;
  position: absolute;
  top: -27px;
  left: 26%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #5B666A;
  background: white;
  padding: 0px;
	/*z-index: 99;*/
	/*border:thin dotted #e3e3e3;*/
}
.formBlocks:nth-of-type(3) h3{
	  background: none repeat scroll 0 0 #FFFFFF;
  display: block;
  font-size: 12px;
  left: 0;
  margin: auto;
  position: relative;
  color: #5B666A;
  text-align: center;
  top: -28px;
  width: 201px;
}
.formBlocks h4{
	/*font-weight: normal;*/
	font-size: 1px;
}
.formBlocks input{
	  width: 200px;
  height: 24px;

}
.land-ph{
  width:340px;
}

.purchased input{

  width:413px !important;
}
.formBlocks select{
	  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #B6B6B6;
  width: 200px;
  padding: 1px;
  font-size: 12px;
  color: #666;
  height: 26px;
}
.formBlocks textarea{
	width:200px;
	height:26px;
}
.formBlocks label{
	  color: #666666;
  float: left;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  z-index: 0;
  font-family: "Tahoma";
  margin-bottom: 2px !important; 
}
.controls label{
    color: #666666;
  float: left;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  z-index: 0;
  font-family: "Tahoma";
padding-right: 8px;
  margin-bottom: 2px !important; 
}

.controls1 label{
  color: #666666;
  float: left;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  z-index: 0;
  font-family: "Tahoma";
  margin-bottom: 2px !important; 
  ]
}

.formBlocks input[type="text"]:disabled {
  background: white;
    padding: 0px 5px;
  border:thin solid #e3e3e3;
}
.formBlocks input[type="number"]:disabled {
  background: white;
  border:thin solid #e3e3e3;
}
.formBlocks select:disabled{
  background: white;
  border:thin solid #e3e3e3; 
}
#file-upload{
	margin-top:10px;
}
#content {
	padding: 31px 0px 0px 0px;
}
.formMessages{
	font-size:0.8em;
	color:red;
}
.error{width: 100%;
 padding: 10px;
 margin-top: 10px;
 background: #e30000;
 color: #FFF;
 border-radius: 5px;
 }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */  

  .formMessages {
 font-size: 0.8em;
 color: red;
}
}
/*footer{
	padding:20px 30px 20px 30px;
	margin:30px 0px 30px 0px;
	color:white;
	background: #0089C8;
}
footer a:link,footer a:visited {
	color:white;
	text-decoration: none;
}
footer a:hover{
	color:white;
	text-decoration: underline;
}


*/

 

/*styles*/
.ng-scope{

padding:0px !important;
margin-top: 4px;

}


	 .footer{background: #0089C8;
  width: 968px;
  margin-left: -20px;
    color: #FFFFFF;
    float: right;
    padding: 25px 25px 10px;
      margin-top: -9px;

   
}

.footer_link{
	width:100%;
	border-bottom:1px solid #fff;
	padding-top:27px;
	padding-bottom:10px;
}

.footer_link ul{
	margin:0px;
	padding:0px;
	text-align:center;
}

.footer_link ul li{
	border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline;
    padding-left: 11px;
    padding-right: 11px;
	
}

.last{
	border:none !important;
}



.footer-bottom p{
	line-height:14px;
}


.col-2{
	margin-left:0px !important;
}

.my_dropdown{
	width:200px;
}

.foot{
	width:100%;
	float:left;
}

.foot_left{
	  float: left;
  text-align: center;
  width: 35%;
  font-size: 12px;
  line-height: 16px;
  padding-top: 8px;
}

.foot_right{
	border-left: 1px solid #EEEEEE;
    float: left;
    margin-left: 16px;
    margin-top: 8px;
    padding-left: 11px;
    text-align: justify;
    width: 422px;
    font-size: 12px;
	margin-bottom:10px;
	line-height:20px;
}

.foot_right a{
	color: #FFFFFF;
    padding: 0 9px;
    text-decoration: none;
}
.foot_right a:hover{
	color: #FFFFFF;
    padding: 0 9px;
    text-decoration: none;
}

.powered{

	font-size: 12px;
}

.foot_left1{
float: left;
	font-size: 12px;
}

.request-btn{
	text-align: center;
}

.accept{
	  background: none repeat scroll 0 0 #CCCCCC;
  border: 1px solid #EEEEEE;
  float: left;
 ;
  padding: 0 7px;
  width: 100%;
  font-size: 12px;
    margin-top: 0px;

}

md-checkbox .md-icon {
   width: 15px !important;
  height: 15px !important;

  border-radius: 5px;
}

.disp1 {
  width: 180px !important;

  }

  .product-model{
	margin-top:-28px;
  }

.product-model .ng-scope label{

  	float: right;
  }

  #product, .ng-pristine{

  	  /*margin-left: 4px;*/
  }

  .input-group .date{

  	  width: 185px;
  height: 24px;
}
 
 .space-ifan span{
 	  width: 4px;
  margin-left: 4px;
  margin-right: 4px;
 }

 .date{

 	  width: 45% !important;
    float: left;

 }

  
 .controls{ 
	width: 55% !important;
  float: left;
  position: absolute;
  /* top: 5px; */
  right: 5px;

  margin-top: 0px !important;
  padding-left: 22px;
}
 
 .controls1{ 
    width: 55% !important;
  float: left;
  position: absolute;
   top: 33px !important;
  right: 5px;
  
  margin-top: 0px !important;
  padding-left: 22px;
}
.radio-buttons h4{

	font-size: 12px;
	margin-top:10px;
}
  .radio input[type=radio], .radio-inline input[type=radio]{
  margin-left: -100px !important;

  }

.radio-buttons{
width:15px !important;
}
 input[type="radio"]{margin: 10px 0};} 
.radio-inline{
  margin-top: 17px !important;

}

input[type="radio"]{
  margin: 0 10px 0 10px;
}

.controls input[type="radio"] {
  margin-left: 8px;
  margin-right: 4px;
  margin-top: -4px;
  text-align: center;

  }
 .cont input[type="radio"] {
  margin-left: 8px;
  margin-right: 4px;
  margin-top: -4px;
  text-align: center;

  }
  input[type="radio"] {
  float: left;
  margin: 4px;
  padding: 0;
  width: auto;
  margin: 0px;
}

/*.controls label {
  float: left;
  font-size: 11px;
  font-weight: normal;
    margin-right: 5px;
  }*/
  .red-color{
  	  margin-left: 0px !important;
  margin-right: 0px !important;
  }

   .mastercard img{ float: right;
    margin-top: -21px;
     margin-right: 4px;
}

.visa img{
	float: right;
   margin-top: -21px;
 
}
.title{
	padding-top:10px;
}

 .powered-img{ float: right;
  margin-top: -22px;

}

.title1{
	padding-top: 14px
}

.sapcing-bottom{

  padding-bottom: 5px;
}

 
 @-moz-document url-prefix() { 
  .date {
    width: 80% !important;
}
}