<div flex="50">
    <label>First Name<span class="red-color">*</span></label>
    <input type="text" name="fname" ng-model="customer.data.firstName" required>
    <div class="formMessages" ng-messages="htmlform.fname.$error" ng-show="htmlform.fname.$dirty" role="alert">
        <div ng-message="required">Your first name is required!</div>
    </div>
</div>
<div flex="50">
    <label>Last Name<span class="red-color">*</span></label><br>
    <input type="text" name="lname" ng-model="customer.data.lastName" required>
    <div class="formMessages" ng-messages="htmlform.lname.$error" ng-show="htmlform.lname.$dirty" role="alert">
        <div ng-message="required">Your last name is required!</div>
    </div>
</div>
<div flex="50">
    <label>Address<span class="red-color">*</span></label><br>
    <textarea name="address" ng-model="customer.data.address" required ng-maxlength="150"></textarea>
    <div class="formMessages" ng-messages="htmlform.address.$error" ng-show="htmlform.address.$dirty" role="alert">
        <div ng-message="required">Your address is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
    </div>
</div>
<div flex="45">
    <label>City<span class="red-color">*</span></label><br>
    <input type="text" name="city" ng-model="customer.data.city" required>
    <div ng-messages="htmlform.city.$error" ng-show="htmlform.city.$dirty" role="alert">
        <div ng-message="required">This is required!</div>
    </div>
</div>
<div flex="50">
    <label>Select a state<span class="red-color">*</span></label><br>
    <select name="state" ng-model="customer.data.state" required>
        <option value="" disabled selected>Select State</option>
        <option value="opt" ng-repeat="opt in customer.states">{{ opt }}</option>
    </select>
</div>
<div flex="45">
    <label>Pincode<span class="red-color">*</span></label><br>
    <input type="number" name="pin" ng-model="customer.data.pincode" ng-pattern="/^[0-9]{6}$/" required>
    <div ng-messages="htmlform.pin.$error" ng-show="htmlform.pin.$dirty" role="alert">
        <div ng-message="pattern">Pincode has to be a 6 digit number.</div>
    </div>
</div>
<div flex="50">
    <label>Email address<span class="red-color">*</span></label><br>
    <input type="email" name="email" ng-model="customer.data.email" required>
    <div ng-messages="htmlform.email.$error" ng-show="htmlform.email.$dirty" role="alert">
        <div ng-message="required">Your email address is required.</div>
    </div>
</div>
<div flex="45">
    <label>Confirm your email<span class="red-color">*</span></label><br>
    <input type="email" name="confirm_email" ng-model="customer.data.confirmEmail" required>
    <div ng-messages="htmlform.confirm_email.$error" ng-show="htmlform.confirm_email.$dirty" role="alert">
        <div ng-message="pattern">Pincode has to be a 6 digit number.</div>
    </div>
</div>
<div flex="50">
    <label>Mobile number<span class="red-color">*</span></label><br>
    <input type="number" name="mobile" ng-model="customer.data.mobile" ng-pattern="/^[1-9][0-9]{9}$/" required>
    <div ng-messages="htmlform.mobile.$error" ng-show="htmlform.mobile.$dirty" role="alert">
        <div ng-message="pattern">Mobile number has to be a 10 digit number.</div>
    </div>
</div>
<div flex="50" class="space-ifan">
    <label>Land phone<span class="red-color">*</span></label><br>
    <div layout="row" layout-wrap style="width:200px">
        <input style="width:29%" type="number" name="std1" ng-model="customer.data.stdCode" ng-pattern="/^[0-9]{1,5}$/" required><span>-</span>
        <input style="width:65%" type="number" name="lphone" ng-model="customer.data.landPhone" ng-pattern="/^[0-9]{6,9}$/" required>

    </div>
    <div ng-messages="htmlform.std1.$error" ng-show="htmlform.std1.$dirty" role="alert">
        <div ng-message="pattern">Std code has to be a 3 to 5 digit number.</div>
    </div>
    <div ng-messages="htmlform.lphone.$error" ng-show="htmlform.lphone.$dirty" role="alert">
        <div ng-message="pattern">Landline number has to be a 6 to 9 digit number.</div>
    </div>
</div><!--
<div flex="20">
        <label>Land Phone<span class="red-color">*</span></label><br>
        <input type="number" name="landPhone" ng-model="customer.data.landPhone" ng-pattern="/^[0-9]{6,9}$/" required>
        <md-tooltip>
        Enter your landline phone number here.
        </md-tooltip>
        <div ng-messages="customerForm.landPhone.$error" ng-show="customerForm.landPhone.$dirty" role="alert">
                <div ng-message="pattern">Landline number has to be a 6 to 9 digit number.</div>
        </div>
</div> -->