<!-- Material design radio buttons -->
<!-- <md-radio-group style="width:100%" class="small-font" layout="row" layout-wrap ng-model="customer.store.name" required ng-show="widgets.formStyleOld">
<md-radio-button flex="25" value="Dell exclusive store" name="seller">
Dell exclusive store
</md-radio-button>
<md-radio-button flex="10" value="Croma" name="seller">
Croma
</md-radio-button>
<md-radio-button flex="15" value="Reliance digital" name="seller">
Reliance digital
</md-radio-button>
<md-radio-button flex="20" value="Other retail outlet" name="seller">
Other retail outlets
</md-radio-button>
</md-radio-group> -->
<!-- Show this only for the new form -->
<!-- Show this when either are true -->
<div layout="row" layout-wrap ng-disabled>
    <md-button ng-show="false" ng-click="widgets.reset()">
    Change purchase date
    </md-button>
    <div id="searchbox" flex="50" ng-show="false">
        <label>Enter vendor code<span class="red-color">*</span></label>
        <input type="text" ng-model="customer.store.code">
    </div>
    <div flex="50" ng-show="widgets.formStyle45_365">
        <label>SA Code<span class="red-color">*</span></label>
        <input type="text" ng-model="customer.store.code" ng-blur="sacode.getData(customer.store.code)" require>
    </div>
    <div flex="50"  class="space-ifan ng-scope">
        <label>Purchased from<span class="red-color">*</span></label>
        <input type="text" name="pfrom" ng-model="customer.store.name" ng-disabled="widgets.formStyle45_365 || widgets.formStyle0_45 || (!purchase.date)" required>
        <!-- <div ng-messages="customerForm.firstName.$error" ng-show="customerForm.firstName.$dirty">
                                                        <div ng-message="required">This is required!</div>
                                                        <div ng-message="md-maxlength">That's too long!</div>
                                                        <div ng-message="minlength">That's too short!</div>
        </div> -->
    </div>
    <div flex="50" class="space-ifan ng-scope">
        <label>City<span class="red-color">*</span></label>
        <input type="text" name="pcity" ng-model="customer.store.city" ng-disabled="widgets.formStyle45_365 || (!purchase.date)" required>
        <div ng-messages="htmlform.pcity.$error" ng-show="htmlform.pcity.$dirty">
            <div ng-message="required">Store city is required.</div>
        </div>
    </div>
    <div flex="50" class="space-ifan ng-scope">
        <label>State<span class="red-color">*</span></label>
        <select name="pstate" ng-model="customer.store.state" ng-disabled="widgets.formStyle45_365 || (!purchase.date)" required>
            <option ng-repeat="state in customer.states" value="state">{{ state }}</md-option>
            </select>
        </div>
        <div flex="50" class="space-ifan ng-scope">
            <label>Pincode<span class="red-color">*</span></label>
            <input type="number" name="ppincode" ng-model="customer.store.pincode" ng-pattern="/^[0-9]{6}$/" ng-disabled="widgets.formStyle45_365 || (!purchase.date)" required>
            <div ng-messages="htmlform.ppincode.$error" ng-show="htmlform.ppincode.$dirty" role="alert">
                <div ng-message="pattern">Pincode has to be a 6 digit number.</div>
            </div>
        </div>
        <div flex="50" class="space-ifan ng-scope">
            <div layout="row" layout-wrap>
                <label flex="100">Land Phone<span class="red-color">*</span></label>
                <input style="width:29%" type="number" name="std2" ng-model="customer.store.stdCode" ng-pattern="/^[0-9]{1,5}$/" ng-disabled="widgets.formStyle45_365 || (!purchase.date)" required> <span> - </span> 
                <input style="width:55%" type="number" name="plphone" ng-model="customer.store.landPhone" ng-pattern="/^[0-9]{6,9}$/" ng-disabled="widgets.formStyle45_365 || (!purchase.date)" required>
                        
            </div>
            
            <div ng-messages="htmlform.plphone.$error" ng-show="htmlform.plphone.$dirty" role="alert">
                <div ng-message="pattern">Landline number has to be a 6 to 9 digit number.</div>
            </div>
        </div>
        <div flex="50" class="space-ifan ng-scope">
            <label>Service Tag<span class="red-color">*</span></label><br>
            <input type="text" name="service" ng-disabled="widgets.formStyle45_365 || (!purchase.date)" ng-model="customer.store.serviceTag" required>
        </div>
        <div flex="100" id="file-upload">
            <div layout="row" layout-wrap>
                <label flex="50">Upload the purchase invoice here</label>
                <input flex="45" type="file" ng-disabled="widgets.formStyle45_365 || (!purchase.date)" name="file" id="invoiceFile" required>
            </div>

        </div>
    </div>