<!-- Dud logic -->
<div flex="100" style="position:relative" ng-if="((!widgets.formStyle0_45) && (!widgets.formStyle45_365))">
    <table>
        <tr>
                <th  style="padding-bottom:5px; padding-top:5px;"><label>Product model<span class="red-color">*</span></label></th>
                <td>
                    <select id="product" name="product" required disabled>
                        <option value="" disabled selected>Select model</option>
                        
                    </select></td>
                </tr>
                <tr>
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select disabled>
                        <option value="" disabled selected>Select Offer</option>  
                    </select></td>
                </tr>
    </table>
    <div ng-click="dialog.showAlert('Select a date!','Please select a purchase date to see the warranty extension packs.')" style="position: absolute; top: 0px; left:0px; width:100%; height:100%;">
        
    </div>    
</div>


<!-- Logic Normal offers  -->
<div flex="100" ng-if="widgets.formStyle0_45">
    <table>
        <tr>
                <th  style="padding-bottom:5px; padding-top:5px;"><label>Product model<span class="red-color">*</span></label></th>
                <td>
                    <select id="product" name="product" ng-model="customer.product.productSelected" required>
                        <option value="" disabled selected>Select model</option>
                        <option ng-repeat = "(key, value) in products.models">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-hide="customer.product.productSelected">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select>
                        <option value="" disabled selected>Select Offer</option>  
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Inspiron Desktop / AIO Desktop')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model1.offers.normal">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Inspiron Notebook')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model2.offers.normal">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Vostro Notebook')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model3.offers.normal">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'OptiPlex Desktop')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model4.offers.normal">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Fixed Workstation')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model5.offers.normal">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Latitude Notebook')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model6.offers.normal">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Mobile Workstation')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model7.offers.normal">{{ value.name }}</option>
                    </select></td>
                </tr>
    </table>    
</div><!--- Normal offers -->

<!-- Logic Apos offers  -->
<div flex="100" ng-if="widgets.formStyle45_365">
    <table>
        <tr>
                <th  style="padding-bottom:5px; padding-top:5px;"><label>Product model<span class="red-color">*</span></label></th>
                <td>
                    <select id="product" name="product" ng-model="customer.product.productSelected" required>
                        <option value="" disabled selected>Select model</option>
                        <option ng-repeat = "(key, value) in products.models">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-hide="customer.product.productSelected">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select>
                        <option value="" disabled selected>Select Offer</option>  
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Inspiron Desktop / AIO Desktop')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model1.offers.apos">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Inspiron Notebook')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model2.offers.apos">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Vostro Notebook')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model3.offers.apos">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'OptiPlex Desktop')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model4.offers.apos">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Fixed Workstation')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model5.offers.apos">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Latitude Notebook')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model6.offers.apos">{{ value.name }}</option>
                    </select></td>
                </tr>
                <tr ng-if="(customer.product.productSelected == 'Mobile Workstation')">
                    <th><label>Offers (Extension pack)<span class="red-color">*</span></label></th>
                    <td id="offers1"><select ng-model="customer.product.offerSelected" name="offers" required>
                        <option value="" disabled selected>Select Offer</option>
                        <option ng-show="value.visible" ng-repeat="(key, value) in products.models.model7.offers.apos">{{ value.name }}</option>
                    </select></td>
                </tr>
    </table>    
</div><!--- Apos offers -->
